<% extend('./../layouts/main'); %>
<!-- content -->

<% result = _.first(result) || { flag: true } %>

<% if (result.message) { %>
  <div class='hidden' id='flash-content'><%- result.message -%></div>
  <div class='hidden' id='flash-type'><%- result.type -%></div>
<% } %>

<div class="container-fluid">
  <div class="row content">
    <%- include('./../shared/sidebar'); %>
    <%- include('./../conversations/conversation'); %>
  </div>
</div>

<%- include('./../shared/contactsModal'); %>

<%- include('./../conversations/streamModal'); %>

<%- include('./../conversations/imagesModal'); %>

<%- include('./../conversations/attachsModal'); %>

<%- include('./../users/profileModal'); %>
 
<%- include('./../groups/newGroupModal'); %>
