<% extend('./../layouts/auth'); %>

<% result = _.first(result) || { flag: true } %>


<% if (_.isEqual(result.kind, 'flash')) { %>
  <div class='d-none' id='flash-content'><%- result.message -%></div>
  <div class='d-none' id='flash-type'><%- result.type -%></div>
<% } %>

<h5>Sign in</h5>
<% if (_.isEqual(result.kind, 'alert')) { %>
  <div class="alert alert-<%-result.type-%>">
    <%- result.message; %>
  </div>
<% } %>
<form action="/login" method="POST">
  <div class="form-group">
    <input type="text" class="form-control mb-2 <% if(!result.flag && !_.isEmpty(result['detail']['loginid'])) { %> is-invalid <% } %>" placeholder="Username or email" autofocus name="loginid">
    <% if (!result.flag && !_.isEmpty(result['detail']['loginid'])) { %>
      <div class="invalid-feedback text-left">
        <%- _.first(result['detail']['loginid']); %>
      </div>
    <% } %>
  </div>
  <div class="form-group">
    <input type="password" class="form-control mb-2 <% if(!result.flag && !_.isEmpty(result['detail']['pwd'])) { %> is-invalid <% } %>" placeholder="Type your password" autofocus name="pwd">
    <% if (!result.flag && !_.isEmpty(result['detail']['pwd'])) { %>
      <div class="invalid-feedback text-left">
        <%- _.first(result['detail']['pwd']); %>
      </div>
    <% } %>
  </div>
  <div class="form-group d-flex justify-content-between">
    <div class="custom-control custom-checkbox">
      <input type="checkbox" class="custom-control-input" checked="" id="customCheck1">
      <label class="custom-control-label" for="customCheck1">Remember me</label>
    </div>
    <a href="#">Reset password</a>
  </div>
  <button class="btn btn-primary btn-block">Sign in</button>
  <hr>
  <p class="text-muted">Login with your social media account.</p>
  <ul class="list-inline">
    <li class="list-inline-item">
      <a href="#" class="btn btn-floating btn-facebook">
      <i class="fa fa-facebook"></i>
      </a>
    </li>
    <li class="list-inline-item">
      <a href="#" class="btn btn-floating btn-twitter">
      <i class="fa fa-twitter"></i>
      </a>
    </li>
    <li class="list-inline-item">
      <a href="#" class="btn btn-floating btn-dribbble">
      <i class="fa fa-dribbble"></i>
      </a>
    </li>
    <li class="list-inline-item">
      <a href="#" class="btn btn-floating btn-linkedin">
      <i class="fa fa-linkedin"></i>
      </a>
    </li>
    <li class="list-inline-item">
      <a href="#" class="btn btn-floating btn-google">
      <i class="fa fa-google"></i>
      </a>
    </li>
    <li class="list-inline-item">
      <a href="#" class="btn btn-floating btn-behance">
      <i class="fa fa-behance"></i>
      </a>
    </li>
    <li class="list-inline-item">
      <a href="#" class="btn btn-floating btn-instagram">
      <i class="fa fa-instagram"></i>
      </a>
    </li>
  </ul>
  <hr>
  <p class="text-muted">Don't have an account?</p>
  <a href="/users/register" class="btn btn-outline-light btn-sm">Register now!</a>
</form>
