<% extend('./../layouts/auth'); %>

<% result = _.first(result) || { flag: true } %>

<h5>Create account</h5>
<% if (_.isEqual(result.kind, 'alert')) { %>
  <div class="alert alert-<%-result.type-%>">
    <%- result.message; %>
  </div>
<% } %>
<form action="/users/register" method="POST">
  <div class="form-group">
    <input type="text" class="form-control mb-2 <% if(!result.flag && !_.isEmpty(result['detail']['fullname'])) { %> is-invalid <% } %>" placeholder="Type your fullname" autofocus name="fullname">
    <% if (!result.flag && !_.isEmpty(result['detail']['fullname'])) { %>
      <div class="invalid-feedback text-left">
        <%- _.first(result['detail']['fullname']); %>
      </div>
    <% } %>
  </div>
  <div class="form-group">
    <input type="text" class="form-control mb-2 <% if(!result.flag && !_.isEmpty(result['detail']['username'])) { %> is-invalid <% } %>" placeholder="Type your username" autofocus name="username">
    <% if (!result.flag && !_.isEmpty(result['detail']['username'])) { %>
      <div class="invalid-feedback text-left">
        <%- _.first(result['detail']['username']); %>
      </div>
    <% } %>
  </div>
  <div class="form-group">
    <input type="text" class="form-control mb-2 <% if(!result.flag && !_.isEmpty(result['detail']['email'])) { %> is-invalid <% } %>" placeholder="Type your email" autofocus name="email">
    <% if (!result.flag && !_.isEmpty(result['detail']['email'])) { %>
      <div class="invalid-feedback text-left">
        <%- _.first(result['detail']['email']); %>
      </div>
    <% } %>
  </div>
  <div class="form-group">
    <input type="password" class="form-control mb-2 <% if(!result.flag && !_.isEmpty(result['detail']['pwd'])) { %> is-invalid <% } %>" placeholder="Type your password" autofocus name="pwd">
    <% if (!result.flag && !_.isEmpty(result['detail']['pwd'])) { %>
      <div class="invalid-feedback text-left">
        <%- _.first(result['detail']['pwd']); %>
      </div>
    <% } %>
  </div>
  <div class="form-group">
    <input type="password" class="form-control mb-2 <% if(!result.flag && !_.isEmpty(result['detail']['pwdConfirm'])) { %> is-invalid <% } %>" placeholder="Re-type your password" autofocus name="pwdConfirm">
    <% if (!result.flag && !_.isEmpty(result['detail']['pwdConfirm'])) { %>
      <div class="invalid-feedback text-left">
        <%- _.first(result['detail']['pwdConfirm']); %>
      </div>
    <% } %>
  </div>
  <button class="btn btn-primary btn-block">Register</button>
  <hr>
  <p class="text-muted">Already have an account?</p>
  <a href="/login" class="btn btn-outline-light btn-sm">Sign in!</a>
</form>
